<!DOCTYPE html>
<html>
<head>
  <title>It's a Meaw Book</title>
<link rel="icon" type="image/png" href="../assets/image/cat-head-icon-cat-face-logo-silhouette-simple-flat-style-cartoon-cat-face-logo-design-template-illustration-animal-logotype-concept-vector.jpg">
  <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body>

<h1>This is a heading</h1>

<p>This is a paragraph.</p>

<a href="../view/maoo.html" target="" class="button-link">Click Me</a>

<!-- it is a one click button for go through the hyperlink -->

<!--

<img src="https://www.bing.com/.jpg" style="width:100%;max-width:100px;height:auto">
-->

<img src="../assets/image/200w.gif" alt="Billu Billu" style="width:48px;height:48px;">

<img src="https://www.bing.com/images/search?view=detailV2&ccid=yhQReKJc&id=65650BB5CCC843168CEE8339758CF058B5608681&thid=OIP.yhQReKJc8FGLI8bUHsofEwHaEo&mediaurl=https%3A%2F%2Fimages8.alphacoders.com%2F530%2F530092.jpg&cdnurl=https%3A%2F%2Fth.bing.com%2Fth%2Fid%2FR.ca141178a25cf0518b23c6d41eca1f13%3Frik%3DgYZgtVjwjHU5gw%26pid%3DImgRaw%26r%3D0&exph=1600&expw=2560&q=Brazilian+Flag&FORM=IRPRST&ck=94FAB904C4E15EC318F83DD49F5400E1&selectedIndex=0&itb=0&cw=1375&ch=659&ajaxhist=0&ajaxserp=0" alt="Billu Billu">
</body>
</html>