body {
  background-color: violet;
}
h1 {
  color: blue;
}
p {
  color: red;
}


.button-link {
  display: inline-block;
  padding: 15px 20px;
  background-color: #c2f465;
  color: rgb(228, 18, 18);
  text-decoration: none; /* Removes the underline */
  border-radius: 6px;
  text-align: center;
}

.button-link:hover {
  background-color: #0056b3; /* Darkens the button on hover */
}
